.heading {
  &-primary {
    font-size: 5rem;
    font-weight: 500;
    color: $color-lightest-slate;
    text-shadow: 0 0.1rem 0.2rem $color-tint;
    margin: auto;
    padding: 0.5rem 1.5rem;
  }
  &-secondary {
    font-size: 4rem;
    font-weight: 600;
    color: $color-slate;
    text-shadow: 0 0.1rem 0.2rem $color-tint;
    padding: 0.5rem 1.5rem;
    text-decoration: underline;
  }
  &-tertiary {
    font-size: 2rem;
    font-weight: 600;
    color: $color-primary;
    text-shadow: 0 0.1rem 0.2rem $color-primary-dark;
    padding: 0.5rem 1.5rem;
  }
}
