.selectType {
  display: flex;
  flex-flow: wrap;
  margin: 1rem;
  &_item {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: $color-primary-lighter;
    color: $color-green;
    border: 1px solid $color-lightest-slate;
    cursor: pointer;
    &:hover,
    &:active {
      background-color: $color-primary-dark;
      color: $color-slate;
    }
  }
}
